<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Pokematch Facil</title>
  <!--<link href="../../assets/css/all-nocdn.css" rel="stylesheet" type="text/css">-->
  <link rel="stylesheet" type="text/css" href="<%= url("/assets/site.css")%>">
</head>
<body>
<h1>Pokematch Facil</h1>
<form action="/match" method="post">
  <div class="h5p-container h5p-standalone h5p-memory-game">
    <ul>
      <% for @image in session["images"] %>
          <li class="h5p-memory-card" role="button" tabindex="1">
            <div class="h5p-front"></div>
            <div class="h5p-back">
              <img src="<%= @image %>" alt="Memory Card" width="96" height="96" style="margin:0 0 0 0px">
            </div>
          </li>
      <% end %>
    </ul>
    <div class="h5p-feedback">Good work!</div>
    <dl class="h5p-status">
      <dt>Time spent</dt>
      <dd class="h5p-time-spent">11:55</dd>
      <dt>Card turns</dt>
      <dd class="h5p-card-turns">4</dd>
    </dl>
    <div class="h5p-memory-pop">
      <div class="h5p-memory-image"></div>
      <div class="h5p-memory-desc"></div>
    </div>
  </div>
</form>
</body>
</html>
